@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Admin Page.</p>
<p class="m-4">
<a asp-action="List" asp-controller="Category" class="btn btn-success btn-sm">Category List</a>
</p>
